<TelerikValidationSummary>
	<Template>
		@{
			IEnumerable<string> validationSummaryContext = context;

			@if (validationSummaryContext?.Any() == true)
			{
				<div class="col-md-12">
					<div class="alert alert-danger">
						@foreach (var message in validationSummaryContext)
						{
							<div class="d-flex large-icons" style="align-items: center;">
								<TelerikIcon Icon="exclamation-circle" />
								<span class="ml-3">@message</span>
							</div>
						}
					</div>
				</div>
			}
		}
	</Template>
</TelerikValidationSummary>

<style>
	.large-icons {
		font-size: 20px;
		vertical-align: middle;
	}

		.large-icons .k-icon {
			font-size: 20px;
			vertical-align: middle;
		}
</style>