@page "/"
@inherits IndexBase

<PageTitle>Saúde + Perto</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Hackatona DF</h1>
    <p class="lead">Prototipação para cadastro individual no sistema de saúde do DF.</p>
    <div class="alert alert-danger" role="alert">
        Esse projeto é uma prototipação não se tratando de um produto final, algumas limitações são esperadas.
    </div>
    <hr class="my-4">

    <p class="lead">
        <div class="card">

            <ul class="list-group">

                <li class="list-group-item">Projeto em banco de dados NoSQL <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Cadastro Individual com informações compatíveis com o LEDI APS 4.3.3 <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Edição/Atualização de cadastros já realizados <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Extração de informação utilizando Visão Computacional  <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Integração com base de dados federal através do CPF <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Geração do XML para integração no E-SUS <span class="badge badge-info">Concluído Parcialmente</span></li>
                <li class="list-group-item">Indicar unidade de referência atravé do CEP de cadastro <span class="badge badge-info">Concluído Parcialmente</span></li>
                <li class="list-group-item">Visualização do documento utilizado para cadastro <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Relatório para visualização dos dados <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Compatibilidade com dispositivos móveis (mobile friendly) <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Autenticação para acesso aos relatórios <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Geração de alguns indicadores de exemplo <span class="badge badge-success">Concluído</span></li>
                <li class="list-group-item">Consultar o status do cadastro <span class="badge badge-success">Concluído</span></li>


            </ul>



        </div>
    </p>
</div>